:root {

    --cor-de-fundo: #051D3B;
    --branco: #fff;
    --cor-input: rgba(255, 255, 255, 0.16);
    --cor-input-houver: rgba(255, 255, 255, 0.24);
    --fonte-principal: 'Inter', sans-serif;
    --fonte-card: 'Roboto Mono', monospace;

    --peso-principal: 400;
    --peso-titulo: 700;


    --tamanho-corpo: 1rem;
    --tamanho-card: 0.875;
}