@import url(_reset.css);
@import url(_variaveis.css);
@import url(../_cabecalho.css);

body {
    background: var(--cor-de-fundo);
    font-family: var(--cor-de-fundo);
    font-size: var(--fonte-principal);
    font-weight: var(--peso-principal);
    line-height: 1.5rem;
    color: var(--branco);
    grid-template-areas:
        "cabecalho"
        "conteudo";
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin: 2rem;
}


.conteudo {
    background-color: chartreuse;
    grid-area: conteudo;

}