@import url(_reset.css);
@import url(_variaveis.css);
@import url(../_cabecalho.css);
@import url(../conteudo/_areCodigo.css);
@import url(../conteudo/_formulario.css);
@import url(../conteudo/_menu.css);




body {
    background: var(--cor-de-fundo);
    color: var(--branco);
    font-family: var(--fonte-principal);
    font-size: var(--tamanho-fonte);
    font-weight: var(--peso-principal);
    grid-template-areas:
        "cabecalho"
        "conteudo";
    grid-template-columns: auto;
    grid-template-rows: auto;
    line-height: 1.5rem;
    padding: 2rem;
}

.cabecalho {
    align-items: center;
    display: flex;
    grid-area: cabecalho;
    justify-content: space-between;
    padding-bottom: 2rem;
}


.conteudo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 0.5rem;
}

@media screen and (max-width: 375px) {
    body {
        padding: 1rem;
    }
}