.area-codigo {
    text-align: center;
    margin-left: 6.25rem;

}

.area-codigo__painel {
    background-color: var(--cor-botao-focus);
    border-radius: 0.5rem;
    box-sizing: border-box;
    padding: 2rem;
    width: 752px;
}

.area-codigo__painel--codigo {
    background-color: var(--cor-preta);
    border-radius: 0.5rem;
    color: var(--branco);
    font-family: var(--fonte-card);
    font-size: var(--tamanho-fonte-card);
    line-height: 1.154rem;
    height: 302px;
    resize: none;
    padding: 1rem;
    width: 624px;

}

.botao-highlight {
    background: var(--cor-segundo-botao);
    border: none;
    border-radius: 0.5rem;
    color: var(--branco);
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    height: 56px;
    margin-top: 2rem;
    width: 752px;
}

.botao-highlight:hover {
    background-color: var(--cor-segundo-botao-hover);
}