
.projeto__personalizacao {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 2.5rem;
}

.projeto__formulario>:first-child {
    margin-bottom: 1.25rem;
}

.projeto__legenda {
    color: var(--branco);
    padding-bottom: 1rem;
}
.projeto__input{
    background-color: var(--cor-input);
    border: none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    color: var(--branco);
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    height: 56px;
    padding: 0 0.875rem;
    width: 272px;
}
.projeto__input:hover{
    background-color: var(--cor-input-hover);
}
.botao__salvar{
    background-color: var(--cor-botao);
    color: var(--cor-texto-botao);
}
.botao__salvar:hover{
    background-color: var(--cor-botao-hover);
}

@media(max-width: 768px){
    .projeto{
        margin-top: 40px;
    }
    .sobre{
        display: flex;
    }
    .projeto__tema{
        display: flex;
        flex-direction: row;
    }
    .projeto__input{
        width: 704px;
    }
    .tema{
        width: 344px;
    }



}

