.menu {}

.menu__titulo {
    padding-bottom: 1rem;
}

.menu__link {
    align-items: center;
    display: flex;
    padding-bottom: 1rem;
}

.menu__icone {
    height: 3rem;
    padding-right: 1rem;
    width: 3rem;
}